.page-container {
 display:flex;   
 justify-content:center;
}
.page-container > .content-wrapper {
width: 1000px;
}

.page-container > .content-wrapper > #chef{
width: 350px;
margin: 25px 40px 20px 0px;
float:left;
border: 1px solid goldenrod;
}
